<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../node_modules/picocss/pico.min.css" />
  </head>
  <body>
    <article class="container">
      <section>
        <h1>Welcome to CPTRulez!</h1>
      </section>
      <section>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit cumque
          ullam modi aliquid earum. Iusto rem ullam, sunt iure natus sapiente
          minima nemo molestias eaque esse, voluptatum maxime deleniti maiores!
        </p>
      </section>
      <section>
        <button>Start Quiz!</button>
      </section>
    </article>
  </body>
</html>
