<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
  </head>
  <body class="container">
    <header>
      <h1>Welcome to CPTRulez!</h1>
    </header>
    <main>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit cumque
        ullam modi aliquid earum. Iusto rem ullam, sunt iure natus sapiente
        minima nemo molestias eaque esse, voluptatum maxime deleniti maiores!
      </p>
    </main>
    <footer>
      <a href="/quiz" role="button">Start Quiz!</a>
    </footer>
  </body>
</html>
