<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Quiz about testing principles" />
    <title>Welcome to CPTRulez</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
  </head>

  <body class="container">
    <header>
      <h1>Accessibility Testing</h1>
    </header>
    <main>
      <p>
        About 15% of the world's population has some form of disability which
        limits their ability to interact with computers in some way. There are
        people using screen readers, people who use only keyboards for
        navigation, people who struggle to read text with insufficient contrast
        with its background and people many other forms of input or output.
      </p>

      <p>
        Accessibility testing allows developers to figure out which aspects of
        their websites are not accessible so that these aspects may be improved.
        Making changes to accommodate more users is beneficial for them since
        they can now use your website but it is also beneficial to the client
        because they will gain additional customers.
      </p>

      <p>
        Click the button below to take a quiz to determine how knowledgeable you
        are on accessibility!
      </p>
    </main>
    <footer>
      <a
        href="/quiz"
        role="button"
        style="background-color: #e00; color: #000027"
        >Start Quiz</a
      >
    </footer>
  </body>
</html>
