<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
  </head>
  <body class="container">
    <main>
      <h1>CPTRulez Quiz</h1>
      <article>
        <header>
          <p>Questions go here</p>
        </header>
        <p>Answers go here</p>
      </article>
    </main>
    <button>Next Question</button>
  </body>
</html>
